<div class="row inner-pages">
    <h1 class="text-center">Where In The World?</h1>
    <div id="map-canvas"></div>
    <hr>
    <div class="col-sm-8">
        <div class="row form-group">
            <div class="col-xs-3"><input class="form-control" id="firstName" name="firstName" placeholder="First Name"
                                         required="" type="text"></div>
            <div class="col-xs-3"><input class="form-control" id="middleName" name="firstName" placeholder="Middle Name"
                                         required="" type="text"></div>
            <div class="col-xs-4"><input class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                                         required="" type="text"></div>
        </div>
        <div class="row form-group">
            <div class="col-xs-5"><input class="form-control" name="email" placeholder="Email" required="" type="email">
            </div>
            <div class="col-xs-5"><input class="form-control" name="phone" placeholder="Phone" required="" type="email">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-10"><input class="form-control" placeholder="Website URL" required="" type="homepage">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-10">
                <button class="btn btn-primary pull-right">Contact Us</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3 pull-right">
        <address><strong> Ave,SunnyVale,CA.</strong><br><span id="map-input"> 1064 W iowa Ave<br>USA<br></span>P:
            (123) 456-7890
        </address>
        <address><strong> Coimbatore Tidel Park</strong><br><span id="map-input">TamilNadu<br>India<br></span>P:
            (123) 456-7890
        </address>

        <address><strong>Email Us</strong><br><a href="mailto:#">first.last@example.com</a></address>
    </div>
</div>