<div class="inner-pages">
        <h2>Plan</h2>
    <hr>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>


        <div class="row text-center" >
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title"> Bronze</h3></div>
                    <div class="panel-body">
                        <div class="the-price"><h1> $10<span class="subscript">/mo</span></h1>
                            <small>1 month FREE trial</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td> 1 Account</td>
                            </tr>
                            <tr class="active">
                                <td> 1 Project</td>
                            </tr>
                            <tr>
                                <td> 100K API Access</td>
                            </tr>
                            <tr class="active">
                                <td> 100MB Storage</td>
                            </tr>
                            <tr>
                                <td> Custom Cloud Services</td>
                            </tr>
                            <tr class="active">
                                <td> Weekly Reports</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer"><a href="#" class="btn btn-success"
                                                 role="button">Sign Up</a> 1 month FREE trial
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-success">
                    <div class="cnrflash">
                        <div class="cnrflash-inner"><span class="cnrflash-label">MOST <br> POPULR</span></div>
                    </div>
                    <div class="panel-heading"><h3 class="panel-title"> Silver</h3></div>
                    <div class="panel-body">
                        <div class="the-price"><h1> $20<span class="subscript">/mo</span></h1>
                            <small>1 month FREE trial</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td> 2 Account</td>
                            </tr>
                            <tr class="active">
                                <td> 5 Project</td>
                            </tr>
                            <tr>
                                <td> 100K API Access</td>
                            </tr>
                            <tr class="active">
                                <td> 200MB Storage</td>
                            </tr>
                            <tr>
                                <td> Custom Cloud Services</td>
                            </tr>
                            <tr class="active">
                                <td> Weekly Reports</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer"><a href="#" class="btn btn-success"
                                                 role="button">Sign Up</a> 1 month FREE trial
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title"> Gold</h3></div>
                    <div class="panel-body">
                        <div class="the-price"><h1> $35<span class="subscript">/mo</span></h1>
                            <small>1 month FREE trial</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td> 5 Account</td>
                            </tr>
                            <tr class="active">
                                <td> 20 Project</td>
                            </tr>
                            <tr>
                                <td> 300K API Access</td>
                            </tr>
                            <tr class="active">
                                <td> 500MB Storage</td>
                            </tr>
                            <tr>
                                <td> Custom Cloud Services</td>
                            </tr>
                            <tr class="active">
                                <td> Weekly Reports</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer"><a href="#" class="btn btn-success"
                                                 role="button">Sign Up</a> 1 month FREE trial
                    </div>
                </div>
            </div>
        </div>
</div>